.texto  {
    border-radius: 5px;
    background-color: #7f37c9;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
 p {  
    text-align: center;
}

#video {
    width: 650px;

   
    }

.valores {
    border-radius: 5px;
    background-color: #7f37c9;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.missão {   border-radius: 5px;
    background-color: #7f37c9;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}

.vissão {
    border-radius: 5px;
    background-color: #7f37c9;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}