@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@1,500;1,800&display=swap');
* {box-sizing: border-box;}
body{
    font-family: 'inter', sans-serif;
    margin: 0 auto;
    background-color: #202120;
    color: #fff;
}
section{
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.text-image{
    display: flex;
}
.main-page{
    margin: 20px;
    align-items: center;
    align-self: center;
}
.main-page h1{
    font-size: 3rem;
}
.text-image{
    margin: 100px;
}
.imagen{
    width: 60%;
    padding: 1.5rem;
    padding-left: 100px;
    object-fit: cover;

}
.imagen img{
   align-items: center;
    width: 700px;
    box-sizing: border-box ;
    border-radius: 10px;
 
}
.conteudo{
    width: 70%;
    margin: 20px;
    align-items: center;
    align-self: center;
}
h1{
    font-family: 'Open Sans', sans-serif;
    color: #00b300 ;
}
.conteudo #azul{
    background-color: #7f37c9;
}
.conteudo #azul:hover{
    background-color: #b387de;;
    border-radius: 10px;
}
.conteudo ul{
    margin: 0 auto;
    font-size: 16px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0; 
}
.conteudo ul li {
    position: relative;
    padding-left: 11px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}
.conteudo ul li a{
    border-radius: 10px;
    background-color: #00b300;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}
.conteudo ul li :hover{
    background-color: #00ff00;;
    border-radius: 10px;
    opacity: 0.8;
}

.depoimento p{
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    background-color: #7f37c9;
    width: 40%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
@media screen and (max-width: 1080px){
    .main-page{
        margin: 0;
    }
    .imagen{
        width: 500px;
        padding-left: 0;
    }
    .imagen img{
        margin-top: 100px;
        width: 440px;
    }
    .conteudo{
        margin: 10px;
    }
    .depoimento p{
        font-size: 14px;

        border-radius: 10px;
    }
}
@media screen and (max-width: 768px) {
    .main-page{
        margin: 0;
    }
    .text-image{
        margin: 10px;
        margin-left: 20px;
    }
    .imagen{
        width: 0px;
    
    }
    .imagen img{
       align-items: center;
       padding-left: 20px;
        width: 600px;
        box-sizing: border-box ;
        border-radius: 10px;
     
    }
    .conteudo{
        width: 70%;
        margin: 20px;
        align-items: center;
        align-self: center;
        opacity: 1.0;
    }
}
@media screen and (max-width: 426px){
    .main-page{
        margin: 10px;
    }
    .text-image{
        font-size: 13px;
        margin: 0;
    }
    .imagen img{
       align-items: center;
        width: 390px;
        box-sizing: border-box ;
        border-radius: 10px;
        padding-top: 50px;
     
    }
    .conteudo h1{
        padding-bottom: 50px;
    }
    .conteudo{
        width: 425px;
        margin: 0;
        align-items: center;
        align-self: center;
    }
    .depoimento p{
        font-size: 15px;
        width: 383px;
    }


}
@media screen and (max-width: 393px){
    .main-page{
        margin: 0 auto;
    }
    .text-image{
        margin: 0;
    }
    .imagen{
        padding-left: 0px;
    }
    .imagen img{
       align-items: center;
        width: 343px;
        box-sizing: border-box ;
        border-radius: 10px;
     
    }
    .conteudo h1{
        padding-bottom: 20px;
    }
    .conteudo{
        padding-right: 30px;
        width: 323px;
        align-items: center;
        align-self: center;
    }
    .depoimento p{
        height: 343px;
        font-size: 14px;
        width: 323px;
        border-radius: 10px;
    }
}